@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  height: 72px;
  /* border: 1px solid red; */

}

.logo{
  margin: 15px;
}

nav button{
  margin: 10px;
  width: 60px;
  height: 40px;
  background: red;
  border: transparent;
  color: white;
}

nav ul{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  list-style: none;
  gap: 15px;
}

a{
  text-decoration: none;
}

.hero{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  height: calc(100vh - 72);
}

.hero h1{
  font-weight: 800;
  line-height: 102PX;
  font-size: 108px;
}

.hero p{
  font-weight: 600;
  color: var(--gray);
}

.hero-btn{
  display: flex;
  gap:40px;
}

.secondary-btn{
  background: transparent;
  
}

.btn{
  padding: 25px 45px ;
  border-radius:50px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer ;
}

.btn1{
  background: red;
  color:#fff;
  border: transparent;
}

.brand-icons{
  display: flex;
  gap: 10px;
}
